.featured {
    height: 90vh;
    position: relative;
}

.featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
}

.category select {
    cursor: pointer;
    background-color: #141414;
    border: 1px solid white;
    color: white;
    margin-left: 20px;
    padding: 5px;
}

.info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 120px;
    color: white;
    display: flex;
    flex-direction: column;

}

.info img {
    width: 400px;
}

.desc {
    margin: 20px 0px;
}

.buttons {
    display: flex;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}

.play {
    background-color: white;
    color: #141414;
}

.more {
    background-color: gray;
    color: white;
}

.play span,
.more span {
    margin-left: 5px;
}